flask
rq
redis
requests
python-dotenv
flask-limiter
openai
moviepy==1.0.3
decorator==4.4.2
gtts
imageio
imageio-ffmpeg
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2


